.sehat-zindagi-collaboration-wi-child {
  position: absolute;
  top: 3892px;
  left: 0;
  width: 1440px;
  height: 558px;
  background-image: url(/public/rectangle2882@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.sehat-zindagi-collaboration-wi-item {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(103.29deg, #f2faf5, #f6fffb);
  width: 1440px;
  height: 688px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: var(--color-mediumseagreen-200);
  width: 155px;
  height: 30px;
}
.quick-consultation {
  position: absolute;
  top: 6px;
  left: 11px;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 61px;
  left: 1185px;
  width: 155px;
  height: 30px;
}
.your-path-to {
  margin: 0;
}
.embrace-a-vibrant,
.your-path-to-container {
  margin: 0;
  position: absolute;
  left: 100px;
  font-family: inherit;
}
.your-path-to-container {
  top: 213px;
  font-size: var(--font-size-31xl);
  font-weight: 800;
}
.embrace-a-vibrant {
  top: 434px;
  font-size: inherit;
  font-weight: 600;
}
.sehat-zindagi-x {
  top: 179px;
  left: 100px;
  font-weight: 600;
  color: #3fd182;
}
.experience-a-holistic-container,
.sehat-zindagi-x,
.text {
  position: absolute;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
}
.text {
  top: 3114px;
  left: 672px;
  font-weight: 600;
  color: var(--color-white);
}
.experience-a-holistic-container {
  top: 355px;
  left: 100px;
  color: var(--color-gray-100);
}
.sehat-logo-icon {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 170px;
  height: 52px;
  overflow: hidden;
}
.about-us,
.contact-us,
.home {
  position: absolute;
  top: 0;
  left: 87px;
  font-weight: 600;
}
.about-us,
.home {
  left: 215px;
}
.home {
  left: 1px;
}
.group-item,
.home-parent {
  position: absolute;
  left: 0;
  width: 37px;
}
.group-item {
  top: 18px;
  background-color: var(--color-mediumseagreen-200);
  height: 2px;
}
.home-parent {
  top: 0;
  height: 20px;
  color: var(--color-mediumseagreen-200);
}
.contact-us-parent {
  position: absolute;
  top: 66px;
  left: 860px;
  width: 275px;
  height: 20px;
  font-size: var(--font-size-xs);
  font-family: var(--font-poppins);
}
.join-us-in-container {
  margin: 0;
  position: absolute;
  top: 3932px;
  left: 100px;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.together-sehat-zindagi {
  position: absolute;
  top: 4093px;
  left: 100px;
  font-size: var(--font-size-sm);
  font-family: var(--font-poppins);
  color: var(--color-white);
  display: inline-block;
  width: 551px;
}
.vector-icon {
  position: relative;
  width: 33px;
  height: 40px;
}
.address {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.vector-parent {
  position: absolute;
  top: 4227px;
  left: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.vector-icon1 {
  position: relative;
  width: 40px;
  height: 32px;
}
.vector-group {
  position: absolute;
  top: 4227px;
  left: 311px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.vector-icon2 {
  position: relative;
  width: 40px;
  height: 40px;
}
.div {
  position: relative;
  font-weight: 500;
}
.vector-container {
  position: absolute;
  top: 4227px;
  left: 469px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen-300);
  width: 111px;
  height: 45px;
}
.get-started {
  position: absolute;
  top: 14px;
  left: 16px;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 511px;
  left: 100px;
  width: 111px;
  height: 45px;
}
.xmlid-1-icon,
.xmlid-1-icon1 {
  position: absolute;
  height: 3.58%;
  width: 13.6%;
  top: 3.29%;
  right: 11.54%;
  bottom: 93.13%;
  left: 74.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.xmlid-1-icon1 {
  height: 2.04%;
  width: 8.65%;
  top: 6.94%;
  right: 32.53%;
  bottom: 91.02%;
  left: 58.82%;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-mediumseagreen-300);
  width: 368px;
  height: 414px;
}
.doctor-with-stethoscope-hands-icon {
  position: absolute;
  top: 0;
  left: 45px;
  width: 323px;
  height: 414px;
  object-fit: cover;
}
.rectangle-container {
  position: absolute;
  top: 274px;
  left: 972px;
  width: 368px;
  height: 414px;
}
.xmlid-1-icon2,
.xmlid-1-icon3 {
  position: absolute;
  height: 1.41%;
  width: 4.8%;
  top: 3.16%;
  right: 30.41%;
  bottom: 95.44%;
  left: 64.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.xmlid-1-icon3 {
  height: 2.53%;
  width: 11.11%;
  top: 10.09%;
  right: 28.82%;
  bottom: 87.38%;
  left: 60.07%;
}
.sehat-zindagi-collaboration-wi {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5162px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-200);
  font-family: var(--font-montserrat);
}
