.group-child17 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 38px 37px rgba(0, 0, 0, 0.03);
  border: 1px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  width: 401px;
  height: 292px;
}
.sehat-zindagis-healthcare {
  position: absolute;
  top: 103px;
  left: 38px;
  display: inline-block;
  width: 329px;
}
.medical-expertise {
  margin: 0;
  position: absolute;
  top: 36px;
  left: 38px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-gray-200);
}
.rectangle-parent8 {
  position: absolute;
  top: 342px;
  left: 391px;
  width: 401px;
  height: 292px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
